.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin: auto;
    margin-top: 50px;
}

h1{
    position: relative;
    left: 770px;
    top: 100px;
}

.cell {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    left: 700px;
    top: 150px;
}

button{
    position: relative;
    left: 750px;
    top: 200px;
    height: 100px;
    width: 100px;
}

button:hover{
    cursor: pointer;
}

.hide{
    display: none;
}