body {
    background-color: #A94438;
    overflow-x: hidden;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    position: relative;
    left: 570px;
    top: 100px;
}

.cell {
    border: 1px solid #E4DEBE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    left: 500px;
    top: 100px;
    background-color: #E6BAA3;
    border-radius: 10px;
}

.option button {
    position: relative;
    left: 550px;
    top: 150px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: #E4DEBE 1px solid;
}

button:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

button {
    background-color: brown;
    border: none;
    position: relative;
    left: 20px;
    top: -350px;
    width: 100px;
    height: 30px;
    color: white;
    border: #E4DEBE 1px solid;
    border-radius: 10px;
}