body {
    background-color: #A94438;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    position: relative;
    left: 770px;
    top: 100px;
}

.cell {
    border: 1px solid #E4DEBE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    left: 700px;
    top: 150px;
    background-color: #E6BAA3;
    border-radius: 10px;
}

.option button {
    position: relative;
    left: 750px;
    top: 200px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: #E4DEBE 1px solid;
}

button:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

button {
    background-color: brown;
    border: none;
}